<!DOCTYPE html>
<html>
    <!-- Head -->
    <head>
        {% if pagetitle %}
            <title>{{ pagetitle }}</title>
        {% else %}
            <title>RaspiDrink</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- Bootstrap -->
         <link href="{{ STATIC_URL }}dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- material design -->
        <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
        <link href="{{ STATIC_URL }}dist/css/roboto.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}dist/css/material.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}dist/css/ripples.css" rel="stylesheet">
        <!-- Personnal CSS -->
        <link href="{{ STATIC_URL }}barpi.css" rel="stylesheet">
    </head>
<body>
    <div id ="page">