/*  verticatl align row in table */
.table > tbody > tr > th {
     vertical-align: middle;
}

ul#id_bottle {
  list-style-type: none;
}

.alert-box {
    width:300px;
    float:right;
    margin-right: 20px;
}

body {
background-color: #eee;
}

.right-corner-btn {
    float: right;

}

#toggle-button h2 {
                  font-size: 18.7199993133545px;
                  font-weight: bold;
                  margin-bottom: 30px;
                  margin-top: 50px;
                }
#toggle-button .togglebutton label {
                  margin: 20px 10px;
                  width: 400px;
                }
                #toggle-button .togglebutton .toggle {
                  float: right;
                }