/*  verticatl align row in table */
.table > tbody > tr > th {
     vertical-align: middle;
}

ul#id_bottle {
  list-style-type: none;
}

.alert-box {
    width:300px;
    float:right;
    margin-right: 20px;
}

