<!-- Header -->
{% include 'common/header.html' %}

<!-- navbar-admin -->
{% with "admin" as current_page  %}
{% include 'common/navbar.html' %}
{% endwith %}
<!-- Message -->
{% include 'common/messages.html' %}

<div class="container">
    <div class="jumbotron">
        <h3 class="text-primary">Contrôle du système pompes</h3>
        Ensemble des pompes: &nbsp &nbsp
        <a href="#" onclick="Dajaxice.webgui.stop_all_pump(ajax_callback);" class="btn btn-default btn-raised">Off</a>
        <a href="#" onclick="Dajaxice.webgui.start_all_pump(ajax_callback);" class="btn btn-info btn-raised">On</a>

        Inverser le sens du flux: &nbsp &nbsp
        <a href="#" onclick="Dajaxice.webgui.reverse_pump(ajax_callback, {'action': 'off' });"
           class="btn btn-default btn-raised">Off</a>
        <a href="#" onclick="Dajaxice.webgui.reverse_pump(ajax_callback, {'action': 'on' });"
           class="btn btn-info btn-raised">On</a>

    </div>
    <div class="jumbotron">
        <!-- create bottle button -->
        <a class="btn btn-primary btn-fab btn-raised mdi-content-add right-corner-btn"
           href="{% url 'webgui.views.create_bottle'%}"></a>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Slot</th>
                <th>Bouteille</th>
                <th>Editer</th>
                <th>Supprimer</th>
                <th>Activer / Désactiver</th>
                <th>Arret / Marche</th>
            </tr>
            </thead>
            {% for bottle in bottles %}
            <tr>
                <th>
                    {{bottle.slot}}
                </th>
                <th>
                    {{bottle.name}}
                </th>
                <th>
                    <a href="{% url 'webgui.views.update_bottle' bottle.id %}" type="button"
                       class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </th>
                <th>
                    <a href="{% url 'webgui.views.delete_bottle' bottle.id %}" type="button"
                       class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </th>
                <th>
                    {% if bottle.is_present %}
                    <a href="{% url 'webgui.views.desactivate_bottle' bottle.id %}" type="button" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-glass"></span>
                    </a>
                    {% else %}
                    <a href="{% url 'webgui.views.activate_bottle' bottle.id %}" type="button" class="btn btn-default btn-lg btn-raised">
                        <span class="glyphicon glyphicon-glass"></span>
                    </a>
                    {% endif %}
                </th>
                <th>
                    <a onclick="Dajaxice.webgui.stop_pump(ajax_callback, {'id': {{bottle.slot}} });"
                       class="btn btn-default btn-raised">Off</a>
                    <a onclick="Dajaxice.webgui.start_pump(ajax_callback, {'id': {{bottle.slot}} });"
                       class="btn btn-info btn-raised">On</a>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>


</div>

<!-- footer -->
{% include 'common/footer.html' %}