<!-- Header -->
{% include 'common/header.html' %}

<!-- navbar -->
{% with "home" as current_page %}
    {% include 'common/navbar.html' %}
{% endwith %}

<!-- Message -->
{% include 'common/messages.html' %}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h3>Random</h3>
                <p>Prend au hazard un des cocktails de la liste existante.</p>
                <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Inch Allah</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well">
                <h3>Cerceuille</h3>
                <p>Prend au hazard les ingrédients et la quantité de chacuns pour un verre unique.</p>
                <a class="btn btn-danger btn-large btn-block" href="http://designmodo.com/flat">Adieu</a>
            </div>
        </div>
    </div>
    {% if coktails %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h3 class="tile-title">Liste des cocktails</h3>
            </div>
            <div class="col-md-4">
                <!-- create cocktail button -->
                <a class="btn btn-primary btn-fab btn-raised mdi-content-add right-corner-btn"
                   href="{% url 'webgui.views.create_cocktail' %}"></a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Contenu</th>
                <th>Lancer</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            {% for cocktail in coktails %}
            <tr>
                <th>
                    {{cocktail.name}}
                </th>
                <th>
                    {% for bottle in cocktail.bottles.all %}
                    {{bottle.name}},
                    {% endfor %}
                </th>
                <th>
                    <a href="#" type="button" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-glass"></span>
                    </a>
                </th>
                <th>
                    <a href="#" type="button" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </th>
                <th>
                    <a href="{% url 'webgui.views.delete_cocktail' cocktail.id %}" type="button"
                       class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </th>
            </tr>
            {% endfor %}

        </table>

    </div>
    {% endif %}
</div>

<!-- footer -->
{% include 'common/footer.html' %}