<!-- Header -->
{% include 'common/header.html' %}

<!-- navbar -->
{% include 'common/navbar.html' %}

<!-- Message -->
{% include 'common/messages.html' %}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="tile">
                <h3 class="tile-title">Random</h3>
                <p>Prend au hazard un des cocktails de la liste existante.</p>
                <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Inch Allah</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="tile">
                <h3 class="tile-title">Cerceuille</h3>
                <p>Prend au hazard les ingrédients et la quantité de chacuns pour un verre unique.</p>
                <a class="btn btn-danger btn-large btn-block" href="http://designmodo.com/flat">Adieu</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                <h3 class="tile-title">Création</h3>
                <p>Créez vôtre propre cocktail à partir des ingrédients disponibles.</p>
                <a class="btn btn-info btn-large btn-block" href="{% url 'webgui.views.create_cocktail' %}">I'm a barman</a>
            </div>
        </div>


    </div>

    <div class="jumbotron">
        <!-- Table with actual brand -->
        <h3 class="tile-title">Liste des cocktails</h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Contenu</th>
                <th>Lancer</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            {% for cocktail in coktails %}
            <tr>
                <th>
                    {{cocktail.name}}
                </th>
                <th>
                    {% for bottle in cocktail.bottles.all %}
                    {{bottle.name}},
                    {% endfor %}
                </th>
                <th>
                    <a href="#" type="button" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-glass"></span>
                    </a>
                </th>
                <th>
                    <a href="#" type="button" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </th>
                <th>
                    <a href="{% url 'webgui.views.delete_cocktail' cocktail.id %}" type="button"
                       class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </th>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>

<!-- footer -->
{% include 'common/footer.html' %}