<!-- Header -->
{% include 'common/header.html' %}

<!-- navbar -->
{% with "home" as current_page %}
{% include 'common/navbar.html' %}
{% endwith %}

<!-- Message -->
{% include 'common/messages.html' %}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h1 class="text-primary text-center">Random</h1>

                <p>Prend au hazard un des cocktails de la liste existante.</p>
                <a class="btn btn-primary btn-large btn-block" href="{% url 'webgui.views.run_random' %}">Inch Allah</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well">
                <h1 class="text-primary text-center">Cerceuille</h1>

                <p>Prend au hazard les ingrédients et la quantité de chacuns pour un verre unique.</p>
                <a class="btn btn-danger btn-large btn-block" href="{% url 'webgui.views.run_coffin' %}">Adieu</a>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-primary">Liste des cocktails</h3>
            </div>
            <div class="col-md-4">
                <!-- create cocktail button -->
                <a class="btn btn-primary btn-fab btn-raised mdi-content-add right-corner-btn"
                   href="{% url 'webgui.views.create_cocktail' %}"></a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Contenu</th>
                <th>Lancer</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            {% for cocktail in coktails %}
            <tr>
                <th>
                    {{cocktail.name}}
                </th>
                <th>
                    <a onclick="open_modal_detail({{cocktail.id}})" class="btn btn-default btn-raised">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>
                </th>
                <th>
                    <a href="{% url 'webgui.views.run_cocktail' cocktail.id %}" type="button"
                       class="btn btn-info btn-raised">
                        <span class="glyphicon glyphicon-glass"></span>
                    </a>
                </th>
                <th>
                    <a href="#" type="button" class="btn btn-primary btn-raised">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </th>
                <th>
                    <a href="{% url 'webgui.views.delete_cocktail' cocktail.id %}" type="button"
                       class="btn btn-danger btn-raised">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<!-- Modal detail -->
{% for cocktail in coktails %}
<div id="modal-detail-cocktail-{{ cocktail.id }}" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Contenu du cocktail <span class="text-primary">{{cocktail.name}}</span></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>Bouteille</th>
                        <th>Volume (cl)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bottle in cocktail.bottles.all %}
                    <tr>
                        <td>{{bottle.name}}</td>
                        <td>
                            {% for cocktailinfo in bottle.cocktailinfo_set.all %} {{ cocktailinfo.volume }} cl{% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- footer -->
{% include 'common/footer.html' %}